@import './base.css';

body {
  overflow: hidden;
}
#app {
  width: 100vw;
  font-weight: normal;
  overflow: hidden;
}

.login-container {
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.grid > * {
  height: 100vh;
}

.login-container .img-login {
  width: 100%;
  overflow: hidden;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
